body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 100px;
    background-color: #222;
    color: white;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #e6eeee;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #39b43f;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: #287a3dc9;
}
